*{
    margin : 0;
    padding : 0;
    font-family: Arial, Helvetica, sans-serif;
}
.hero{
    height: 100%;
    width: 100%;
    background-color: #949bc5;

    background-position: center;
    background-size: cover;
    position: absolute;
}           
.form-box{
    width: 350px;
    height: 450px;
    position: relative;
    margin: 6% auto;
    background: #fff;
    padding: 5px;
    overflow: hidden;
}
.form{
    position: relative;
    top:5.5em;
    margin-left: 60px;

    
}
.form-group-pwd{
    padding-top: 23px;
}
.form-input{
    border-width: thin;
    border-style: solid;
    outline: none;
    width: 80%;
    height:25px;
    border-radius: 4px;
}

.form-input:focus{
    border-width: 2px;
    outline: none;
    border-color:#949bc5;;
    border-style: solid;

}
.register-title{
    text-align: center;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    top: 2em;
}
.btn-createaccount{
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    box-sizing: border-box;
    appearance: none;
    user-select: none;
    cursor: pointer;
    display: block;
    margin-left: 40px;
    top: 5em;
    color: #21282d;
    text-align: center;
    width : 150px;
   font-size: 14px;
   font-family: Arial, Helvetica, sans-serif;
   font-weight: 100;
   line-height: 50px;
   outline: none;
   border: none;
   border-radius: 4px;
   background-color: #8d9ae6;
}
.label-email,.label-password,.label-referral{
    font-size: 12px;
    color: #474D57;
    margin: auto;
    text-align: start;
    display: block;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    padding-bottom: 3px;
    
}
.btn-createaccount:hover{
    background-color: #949bc5;
}

.createacc-box{
    display: block;
    margin-top:2em;
    text-decoration: none;
}   
.checkbox-styling{
    font-size: 14px;
    margin-left: 5px;
    }

    .bg-modal{
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.7);
        position: absolute;
        top:0;
        justify-content: center;
        align-items: center;
        display: none;
    }
    .modal-content{
        position: relative;
        display: absolute;
        width: 800px;
        height: 450px;
        background-color: white;
        border-radius: 4px;
        text-align: center;
    }
    .modal-input-email {
        border-width: thin;
        border-style: solid;
        outline: none;
        border-radius: 4px;
        width:70%;
        height:25px;
        display: block;
        margin: 0 auto;
        margin-top: 100px;
    }
    .modal-input-password{
        border-width: thin;
        border-style: solid;
        outline: none;
        border-radius: 4px;
        width:70%;
        height:25px;
        display: block;
        margin: 15px auto;
    }
    .modal-input-email:focus,.modal-input-password:focus{
        border-width: 2px;
        outline: none;
        border-color:#949bc5;
        border-style: solid;
    }
    .register-title{
        position: relative;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 30px;
        top: 2em;
    }
    .register-subtitle{
        position: relative;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 12px;
        top: 6.5em;
        color: #707A8A;
    }
    
    .user-button{
        text-decoration: none;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
        cursor: pointer;
        display: block;
        color: #21282d;
        margin-top: 175px;
        margin-left: 470px;
        text-align: center;
        width : 150px;
        font-size: 14px;
        font-weight: 100;
        line-height: 50px;
        outline: none;
        border: none;
        border-radius: 4px;
        background-color: #8d9ae6;
    }
    .care-button{
        text-decoration: none;
        text-decoration: none;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
        cursor: pointer;
        display: block;
        color: #21282d;
        margin-left: 170px;
        margin-top: -50px;
        text-align: center;
        width : 150px;
        font-size: 14px;
        font-weight: 100;
        line-height: 50px;
        outline: none;
        border: none;
        border-radius: 4px;
        background-color: #8d9ae6;
    }
    .createaccount{
        position: flex;
        padding-top: 20px;
        margin: 45px 45px;
        margin-top: 20px;
        font-size: 15px;
    }
    .care-button:hover,.user-button:hover{
        background-color: #949bc5;
    }
    .signinhyperlink{
       font-size: 11px;
       display: block;
       margin: -20px auto;
    }
    .close{
        position: absolute;
        top: 0;
        right: 10px;
        font-size: 40px;
        transform: rotate(45deg);
        cursor: pointer;
    }
    .close:hover{
        color:red;
    }